NEXT_PUBLIC_SITE_URL=https://pay.brand.com

NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NAVER_SITE_VERIFICATION=

NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_AD_SLOT=0000000000

NEXT_PUBLIC_COUPANG_AFFILIATE_URL=https://link.coupang.com/a/XXXXX
